@import '../styles.scss';

.container{
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.gameBG{
    background: linear-gradient(0deg, transparent 0%, hsl(0, 0%, 0%, 45%) 100%),
                repeating-linear-gradient(0deg, #217dba 0px, #217dba 2px, #2075b6 2px, #2075b6 4px);
}

.pokedexBG{
    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;

    background-color: #72E9B8;

    z-index: -5;
}

.sodukoBG{
    position: absolute;

    display: flex;

    width: 100%;
    height: 100%;
    
    background: linear-gradient(0deg, transparent 0%, hsl(0, 0%, 0%, 45%) 100%),
                repeating-linear-gradient(0deg, #217dba 0px, #217dba 2px, #2075b6 2px, #2075b6 4px);
    
    z-index: -1;
}

.pokedexBGhasher{
    position: absolute;
    
    display: flex;

    width: 100%;
    height: 100%;

    background: repeating-linear-gradient(0deg, hsla(192, 26%, 96%, 0.125) 0px, hsla(192, 26%, 96%, 0.125) 2px, transparent 2px, transparent 4px);

    z-index: -3;
}

.pokedexBGblobs{
    position: absolute;

    filter: blur(100px);

    z-index: -4;
}

.pad{
    position: relative;

    display: flex;
    flex-direction: column;
    
    height: 75vh;
    aspect-ratio: 16/9;
}

.banner{

    display: flex;
    
    width: 100%;
    height: 40px;
    
    background: repeating-linear-gradient(0deg, #f3f7f8 0px, #f3f7f8 2px, #ffffff 2px, #ffffff 4px);
}

.banner.top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: solid 3px #f2d52f;
}

.banner.bot{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: solid 3px #f2d52f;
}

.content{
    position: relative;

    display: flex;
    flex: auto;

    overflow: hidden;
    
    align-items: center;
    justify-content: center;

    width: 100%;
}

#blob1{
    bottom: -100%;
    right: -35%;

    height: 200%;

    z-index: -4;
}

#blob2{
    bottom: -50%;
    right: 0%;

    height: 300%;
    z-index: -4;
}